.dashboard {
    justify-items: auto;
    margin-left: 8rem;
    margin-right: 1rem;
    padding: 1.5rem;
    height: 100%;
    color: white;
    @include getNavbarStyles();
    .grid {
        margin-top: 2rem;
        height: 100%;
        .one {
            margin: 5rem 0;
            height: 70%;
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            gap: 1rem;
            @include getProjectsCardStyles();
            @include getEmployeescardStyles();
        }
        .two {
            margin: 5rem 0;
            height: 70%;
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            gap: 1rem;
            @include getTeamscardStyles();
            
        }
    }
}