.sidebar {
    position:fixed;
    width: 100%;
    height: 54px ;
    background-color: rgb(46, 214, 158);


    .brand {
        color:black ;
        font-size: 1.6 rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 0;
        font-weight: 900;
    }

    .links {
        
        ul {
            margin-bottom: 2rem;
            .active {
                border-right: 0.3rem solid #7bfdc7 ;
                a {
                    color:rgb(158, 248, 203) ;
                }
            }
            li {
                display: inline-block;
                border-right: 0.3rem solid transparent;
                list-style-type: none;
                a {
                    margin: 0 80rem;
                    text-decoration: none;
                    color: rgb(65, 65, 73);
                    font-size: 1.1rem;
                    display: flex;
                    gap: 1rem;
                }
                transition: 0.3s ease-in-out;
                &:hover {
                    border-right-color:#7bfdc7 ;
                    a {
                        color: rgb(158, 248, 203) ;
                    }
                }
            }
        }
    }

}